
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/bootstrap5/css/bootstrap.min.css">
		<script src="../static/jquery-3.2.1.min.js"></script>
		<!--<script src="../static/bootstrap5/popper.js"></script>-->
		<script src="../static/bootstrap5/js/bootstrap.min.js"></script>
		<script src="../static/vue.min.js"></script>
		<script src="../static/echarts.min.js"></script>
	</head>
	
	<body>

		<div class="container" id="appvue" style="background-color:#F5F5F5;">

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
				<a class="navbar-brand" href="#"> THIPPO</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" href="../weight/index.html">体重记录 </a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">财务</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" href="anabalancesheet.html">投资分析</a></li>
								<li><a class="dropdown-item" href="balancesheet.html">资产负债表</a></li>
							</ul>
						</li>
						<!--<li class="nav-item"><a class="nav-link" href="transaction/index.html">投资记录 </a></li>-->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">投资</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" href="../invest/tradetiming.html">择时分析</a></li>
								<li><a class="dropdown-item" href="../invest/convertiblebond.html">可转债YTM</a></li>
								<li><a class="dropdown-item" href="../invest/dailyk.html">日K线</a></li>
								<li><a class="dropdown-item" href="../invest/newshare.html">七天实践</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">工具箱</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" href="../tools/kellycriterion.html">凯利公式</a></li>
								<li><a class="dropdown-item" href="../tools/bitcoinaddress.html">比特币地址</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			
			<div class="progress" style="margin-top:10px;">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;" id="lifebar"></div>
			</div>
					
        
		<script>
			var password="";
			password=prompt('请输入密码 (本页面需输入密码才可进入):','');
			if (password != ' '){
				alert("密码不正确,无法进入本站!!");
				window.location.href="index";
			}
		</script>
		
			<div class="container">
			
				<div class="row">
					<div class="col-md-6">
						<table class="table table-hover">
							<thead>
								<tr align="center">
									<th>资产合计</th>
									<th>{{ sum_assets | twoper }}</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="col-md-6">
						<table class="table table-hover">
							<thead>
								<tr align="center">
									<th>负债合计</th>
									<th>{{ sum_liability | twoper }}</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				
				<div class="row">
				
					<div class="col-md-6">
						<table class="table table-hover">
							<tbody>
								<tr v-for="i in assets_data" align="center">
									<td><small>{{ i[0] }}</small></td>
									<td :title="i[3]">{{ i[1] }}</td>
									<td>{{ i[2] }}</td>
								</tr>
								<tr align="center">
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="col-md-6">
						<table class="table table-hover">
							<tbody>
								<tr v-for="i in liability_data" align="center">
									<td><small>{{ i[0] }}</small></td>
									<td :title="i[3]">{{ i[1] }}</td>
									<td>{{ i[2] }}</td>
								</tr>
								<tr align="center">
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
						<div class="col-md-12">
							<table class="table table-hover">
								<thead>
									<tr align="center">
										<th>所有者权益合计</th>
										<th>{{ sum_assets - sum_liability | twoper }}</th>
									</tr>
								</thead>
							</table>
						</div>
						<table class="table table-hover">
							<tbody>
								<tr align="center">
									<td><small>实收资本</small></td>
									<td>本人</td>
									<td>{{ paidin_capital_data }}</td>
								</tr>
								<tr align="center">
									<td><small>资本公积</small></td>
									<td>本月</td>
									<td>{{ reserves_capital_data }}</td>
								</tr>
								<tr align="center">
									<td><small>未分配利润</small></td>
									<td>本月</td>
									<td>{{ profit | twoper }}</td>
								</tr>
								<tr align="center">
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
						<table class="table table-hover">
							<tbody>
								<tr align="center">
									<td></td>
									<td>现金</td>
									<td></td>
									<td>{{ cash | twoper }}</td>
								</tr>
								<tr align="center">
									<td></td>
									<td>金融投资</td>
									<td></td>
									<td>{{ finance | twoper }}</td>
								</tr>
								<tr align="center">
									<td></td>
									<td>月度总结</td>
									<td></td>
									<td>{{ summary_month }}</td>
								</tr>
								<tr align="center">
									<td></td>
									<td>资金分配</td>
									<td></td>
									<td>{{ capital_structure }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</div>

		</div>

		<script src="data/assets.js"></script>
		<script src="data/liability.js"></script>
		<script src="data/paidin.js"></script>
		<script src="data/reserves.js"></script>

		<script>
		var app_vue = new Vue({
				el: '#appvue',
				data: {
					assets_data: [],
					liability_data: [],
					paidin_capital_data: '',
					reserves_capital_data: '',
				},
				computed: {
					sum_assets: function(){
						var sum = 0
						for (i=0;i<this.assets_data.length;i++){
							sum = sum + this.assets_data[i][2]
						}
						return sum
					},
					sum_liability: function(){
						var sum = 0
						for (i=0;i<this.liability_data.length;i++){
							sum = sum + this.liability_data[i][2]
						}
						return sum
					},				
					profit: function(){
						return this.sum_assets - this.sum_liability - this.paidin_capital_data - this.reserves_capital_data
					},
					cash: function(){
						var sum = 0
						for (i=0;i<this.assets_data.length;i++){
							if (this.assets_data[i][0] == '货币资金'){
								sum += this.assets_data[i][2]
							}
						}
						return sum
					},
					finance: function(){
						var sum = 0
						for (i=0;i<this.assets_data.length;i++){
							if (this.assets_data[i][0] == '金融资产'){
								sum += this.assets_data[i][2]
							}
						}
						return sum
					},
					summary_month: function(){
						return [this.paidin_capital_data, this.paidin_capital_data+this.reserves_capital_data+this.profit, Math.min(this.paidin_capital_data,this.paidin_capital_data+this.profit), Math.max(this.paidin_capital_data+this.reserves_capital_data,this.paidin_capital_data+this.reserves_capital_data+this.profit)]
					},
					capital_structure: function(){
						var cash_num = 0
						var stock_num = 0
						var fund_num = 0
						var bond_num = 0
						var forex_num = 0
						var commodities_num = 0
						var other_num = 0
						for (i=0;i<this.assets_data.length;i++){
							if (this.assets_data[i][4] == 'cash'){
								cash_num = cash_num + this.assets_data[i][2]
							}else if (this.assets_data[i][4] == 'stock'){
								stock_num = stock_num + this.assets_data[i][2]
							}else if (this.assets_data[i][4] == 'fund'){
								fund_num = fund_num + this.assets_data[i][2]
							}else if (this.assets_data[i][4] == 'bond'){
								bond_num = bond_num + this.assets_data[i][2]
							}else if (this.assets_data[i][4] == 'forex'){
								forex_num = forex_num + this.assets_data[i][2]
							}else if (this.assets_data[i][4] == 'commodities'){
								commodities_num = commodities_num + this.assets_data[i][2]
							}else if (this.assets_data[i][4] == 'other'){
								other_num = other_num + this.assets_data[i][2]
							}
						}
						return [cash_num, stock_num, fund_num, bond_num, forex_num, commodities_num, other_num]
					},
				},
				filters: {  
					twoper: function(value) {  
						return value.toFixed(2)  
					}  
				}  
			})
			app_vue.assets_data = assets_data
			app_vue.liability_data = liability_data
			app_vue.paidin_capital_data = paidin_capital_data
			app_vue.reserves_capital_data = reserves_capital_data
		</script>

		<script>
			var year=new Date().getFullYear();
			var month=new Date().getMonth()+1;
			var date=new Date().getDate();
			s1  =  "1991-2-1";
			s2  =  year+'-'+month+'-'+date;
			day = DateDiff(s1, s2)/36525;
			if (day<0.2){
				$("#lifebar").attr({class:"progress-bar bg-success",style:"width:"+100*day+"%;"});
			} else if (0.2<=day && day<0.4){
				$("#lifebar").attr({class:"progress-bar bg-info",style:"width:"+100*day+"%;"});
			} else if (0.4<=day && day<0.60){
				$("#lifebar").attr({class:"progress-bar",style:"width:"+100*day+"%;"});
			} else {
				$("#lifebar").attr({class:"progress-bar bg-warning",style:"width:"+100*day+"%;"});
			};
			function DateDiff(sDate1, sDate2){  
				var aDate, oDate1, oDate2, iDays;
				aDate = sDate1.split("-");
				oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
				aDate = sDate2.split("-");
				oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
				iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 /24);
				return iDays;
			};
		</script>
		
		<script>
			$("#todaybirthday").click(function(){
				var now_month = new Date().getMonth()+1;
				var now_day = new Date().getDate();
				$.post("ajaxselectbirthday",{'month':now_month,'day':now_day,'typ':'0'} ,function(result){
					var lin = '';
					var datas = result.data;
					for (i=0;i<datas.length;i++){
						lin += datas[i][2]+'('+datas[i][3]+') '
					}
					alert(lin)
				})
			})
		</script>

    </body>
	
</html>
