<!DOCTYPE html>
<html>

		<script>
			var password="";
			password=prompt('请输入密码 (本页面需输入密码才可进入):','');
			if (password != ' '){
				alert("密码不正确,无法进入本站!!");
				window.location.href="index";
			}
		</script>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/bootstrap5/css/bootstrap.min.css">
		<script src="../static/jquery-3.2.1.min.js"></script>
		<!--<script src="../static/bootstrap5/popper.js"></script>-->
		<script src="../static/bootstrap5/js/bootstrap.min.js"></script>
		<script src="../static/vue.min.js"></script>
		<script src="../static/echarts.min.js"></script>
		<script src="diary_20210328_20220327.js"></script>
		<script src="diary_20220328_20230327.js"></script>
		<script src="meandparents.js"></script>
		<script src="thandggh.js"></script>
		<script src="bw.js"></script>
		<script src="zr.js"></script>
		<script src="yihan.js"></script>
		<link rel="stylesheet" href="calendar.css">
	</head>
	
	<body>

		<div class="container" id="appvue" style="background-color:#F5F5F5;">

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
				<a class="navbar-brand" href="#"> THIPPO</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link active" href="../index.html">体重记录 </a></li>
						<li class="nav-item"><a class="nav-link" href="../wealth/anabalancesheet.html">投资分析 </a></li>
						<li class="nav-item "><a class="nav-link" href="../wealth/balancesheet.html">资产负债表 </a></li>
						<!--<li class="nav-item"><a class="nav-link" href="../wealth/transaction/index.html">投资记录 </a></li>-->
						<li class="nav-item"><a class="nav-link" href="../invest/tradetiming.html">择时分析 </a></li>
						<li class="nav-item"><a class="nav-link" href="../invest/convertiblebond.html">可转债YTM </a></li>
						<li class="nav-item"><a class="nav-link" href="../invest/newshare.html">七天实践 </a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">工具箱</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" href="../tools/kellycriterion.html">凯利公式</a></li>
								<li><a class="dropdown-item" href="../tools/bitcoinaddress.html">比特币地址</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			
			<div class="progress" style="margin-top:10px;">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;" id="lifebar"></div>
			</div>


			<div class="row" style="margin-top:10px;">
				<div class="col-4">
					<div id="cldFrame">
						<div id="cldBody">
							<table>
								<thead>
									<tr>
										<td colspan="7">
											<div id="top">
												<span id="left" @click="preMonth()">&lt;</span>
												<span id="topDate">{{ topDate }}</span>
												<span id="right" @click="nextMonth()">&gt;</span>
											</div>
										</td>
									</tr>
									<tr id="week">
										<td>日</td>
										<td>一</td>
										<td>二</td>
										<td>三</td>
										<td>四</td>
										<td>五</td>
										<td>六</td>
									</tr>
								</thead>
									<tr><td v-for="item in [0, 1, 2, 3, 4, 5, 6]" @click="getdate(tbod[item])" :class="tbodcss[item]" :style="daycolor[item]">{{ tbod[item] }}</td></tr>
									<tr><td v-for="item in [7, 8, 9, 10, 11, 12, 13]" @click="getdate(tbod[item])" :class="tbodcss[item]" :style="daycolor[item]">{{ tbod[item] }}</td></tr>
									<tr><td v-for="item in [14, 15, 16, 17, 18, 19, 20]" @click="getdate(tbod[item])" :class="tbodcss[item]" :style="daycolor[item]">{{ tbod[item] }}</td></tr>
									<tr><td v-for="item in [21, 22, 23, 24, 25, 26, 27]" @click="getdate(tbod[item])" :class="tbodcss[item]" :style="daycolor[item]">{{ tbod[item] }}</td></tr>
									<tr><td v-for="item in [28, 29, 30, 31, 32, 33, 34]" @click="getdate(tbod[item])" :class="tbodcss[item]" :style="daycolor[item]">{{ tbod[item] }}</td></tr>
									<!--<
									tr><td @click="getdate(tbod[0])" :class="tbodcss[0]" :style="daycolor[0]">{{ tbod[0] }}</td><td @click="getdate(tbod[1])" :class="tbodcss[1]" :style="daycolor[1]">{{ tbod[1] }}</td><td @click="getdate(tbod[2])" :class="tbodcss[2]" :style="daycolor[2]">{{ tbod[2] }}</td><td @click="getdate(tbod[3])" :class="tbodcss[3]" :style="daycolor[3]">{{ tbod[3] }}</td><td @click="getdate(tbod[4])" :class="tbodcss[4]" :style="daycolor[4]">{{ tbod[4] }}</td><td @click="getdate(tbod[5])" :class="tbodcss[5]" :style="daycolor[5]">{{ tbod[5] }}</td><td @click="getdate(tbod[6])" :class="tbodcss[6]" :style="daycolor[6]">{{ tbod[6] }}</td></tr>
									<tr><td @click="getdate(tbod[7])" :class="tbodcss[7]" :style="daycolor[7]">{{ tbod[7] }}</td><td @click="getdate(tbod[8])" :class="tbodcss[8]" :style="daycolor[8]">{{ tbod[8] }}</td><td @click="getdate(tbod[9])" :class="tbodcss[9]" :style="daycolor[9]">{{ tbod[9] }}</td><td @click="getdate(tbod[10])" :class="tbodcss[10]" :style="daycolor[10]">{{ tbod[10] }}</td><td @click="getdate(tbod[11])" :class="tbodcss[11]" :style="daycolor[11]">{{ tbod[11] }}</td><td @click="getdate(tbod[12])" :class="tbodcss[12]" :style="daycolor[12]">{{ tbod[12] }}</td><td @click="getdate(tbod[13])" :class="tbodcss[13]" :style="daycolor[13]">{{ tbod[13] }}</td></tr>
									<tr><td @click="getdate(tbod[14])" :class="tbodcss[14]" :style="daycolor[14]">{{ tbod[14] }}</td><td @click="getdate(tbod[15])" :class="tbodcss[15]" :style="daycolor[15]">{{ tbod[15] }}</td><td @click="getdate(tbod[16])" :class="tbodcss[16]" :style="daycolor[16]">{{ tbod[16] }}</td><td @click="getdate(tbod[17])" :class="tbodcss[17]" :style="daycolor[17]">{{ tbod[17] }}</td><td @click="getdate(tbod[18])" :class="tbodcss[18]" :style="daycolor[18]">{{ tbod[18] }}</td><td @click="getdate(tbod[19])" :class="tbodcss[19]" :style="daycolor[19]">{{ tbod[19] }}</td><td @click="getdate(tbod[20])" :class="tbodcss[20]" :style="daycolor[20]">{{ tbod[20] }}</td></tr>
									<tr><td @click="getdate(tbod[21])" :class="tbodcss[21]" :style="daycolor[21]">{{ tbod[21] }}</td><td @click="getdate(tbod[22])" :class="tbodcss[22]" :style="daycolor[22]">{{ tbod[22] }}</td><td @click="getdate(tbod[23])" :class="tbodcss[23]" :style="daycolor[23]">{{ tbod[23] }}</td><td @click="getdate(tbod[24])" :class="tbodcss[24]" :style="daycolor[24]">{{ tbod[24] }}</td><td @click="getdate(tbod[25])" :class="tbodcss[25]" :style="daycolor[25]">{{ tbod[25] }}</td><td @click="getdate(tbod[26])" :class="tbodcss[26]" :style="daycolor[26]">{{ tbod[26] }}</td><td @click="getdate(tbod[27])" :class="tbodcss[27]" :style="daycolor[27]">{{ tbod[27] }}</td></tr>
									<tr><td @click="getdate(tbod[28])" :class="tbodcss[28]" :style="daycolor[28]">{{ tbod[28] }}</td><td @click="getdate(tbod[29])" :class="tbodcss[29]" :style="daycolor[29]">{{ tbod[29] }}</td><td @click="getdate(tbod[30])" :class="tbodcss[30]" :style="daycolor[30]">{{ tbod[30] }}</td><td @click="getdate(tbod[31])" :class="tbodcss[31]" :style="daycolor[31]">{{ tbod[31] }}</td><td @click="getdate(tbod[32])" :class="tbodcss[32]" :style="daycolor[32]">{{ tbod[32] }}</td><td @click="getdate(tbod[33])" :class="tbodcss[33]" :style="daycolor[33]">{{ tbod[33] }}</td><td @click="getdate(tbod[34])" :class="tbodcss[34]" :style="daycolor[34]">{{ tbod[34] }}</td></tr>
								-->
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<div class="form-check">
						<input class="form-check-input" type="radio" value="diary_dict" v-model="diary_now" @change="switch_dairy()"><label class="form-check-label" for="flexCheckDefault">日记</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" value="meandparents_dict" v-model="diary_now" @change="switch_dairy()"><label class="form-check-label" for="flexCheckDefault">我与爸妈</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" value="thandggh_dict" v-model="diary_now" @change="switch_dairy()"><label class="form-check-label" for="flexCheckDefault">我与__</label>
					</div>
					<!-- <div class="form-check" hidden> -->
					<!-- 	<input class="form-check-input" type="radio" value="bw_dict" v-model="diary_now" @change="switch_dairy()"><label class="form-check-label" for="flexCheckDefault">毕雯</label> -->
					<!-- </div> -->
					<!-- <div class="form-check" hidden> -->
					<!-- 	<input class="form-check-input" type="radio" value="zr_dict" v-model="diary_now" @change="switch_dairy()"><label class="form-check-label" for="flexCheckDefault">张冉</label> -->
					<!-- </div> -->
					<!-- <div class="form-check" hidden> -->
					<!-- 	<input class="form-check-input" type="radio" value="yihan_dict" v-model="diary_now" @change="switch_dairy()"><label class="form-check-label" for="flexCheckDefault">遗憾</label> -->
					<!-- </div> -->
					<br>
					<br>
				</div>

				<div class="col-8">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a @click="preDay()"><</a></li>
							<li class="breadcrumb-item">{{ nian }}</li>
							<li class="breadcrumb-item">{{ yue }}</li>
							<li class="breadcrumb-item">{{ ri }}</li>
							<li class="breadcrumb-item"><a @click="nextDay()">></a></li>
						</ol>
					</nav>

					<div class="progress border border-secondary" style="height: 10px;">
						<div v-for="item in [...new Array(1439).keys()]" :class="wholeday[item]" role="progressbar" style="width: 100%" :id="'time'+item"></div>
					</div>
					<br>

					<div v-for="item in contentshow" class="card text-left">
						<div class="card-body">
							<p class="card-text"><small class="text-muted">{{ item[0] }}</small></p>
							<p class="card-text">{{ item[1] }}</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<script>
		var app_vue = new Vue({
			el: '#appvue',
			data: {
				diary_dict: {},
				meandparents_dict: {},
				thandggh_dict: {},
				bw_dict: {},
				zr_dict: {},
				yihan_dict: {},
				diary_now: "diary_dict",
				monthDay: [31,0,31,30,31,30,31,31,30,31,30,31],
				topDate: "",
				tbod: Array(35).fill(""),
				tbodcss: Array(35).fill(""),
				daycolor: Array(35).fill(""),
				wholeday: Array(1439).fill("progress-bar bg-light"),
				nian: "",
				yue: "",
				ri: "",
				contentshow: [],
			},
			//mounted: function(){
			//	var curDate = new Date();
			//	var curYear = curDate.getFullYear();
			//	var curMonth = curDate.getMonth() + 1;
			//	this.showCld(curYear,curMonth,this.whatDay(curYear,curMonth));
			//},
			methods: {
				isLeap: function(year){
					if((year%4==0 && year%100!=0) || year%400==0){
						return true;
					}
					else{
						return false; 
					}
				},
				whatDay: function(year, month, day=1) {
					var sum = 0;
					sum += (year-1)*365+Math.floor((year-1)/4)-Math.floor((year-1)/100)+Math.floor((year-1)/400)+day;
					for(var i=0; i<month-1; i++){
						sum += this.monthDay[i];
					}
					if(month > 2){
						if(this.isLeap(year)){ 
							sum += 29; 
						}
						else{
							sum += 28; 
						}
					}
					return sum%7;	//余数为0代表那天是周日，为1代表是周一，以此类推
				},
				showCld: function(year, month, firstDay){

					this.daycolor = Array(35).fill("")

					var nn = 0;
					var tagClass = "";
					var nowDate = new Date();

					var days;//从数组里取出该月的天数
					if(month == 2){
						if(this.isLeap(year)){
							days = 29;
						}
						else{
							days = 28;
						}
					}
					else{
						days = this.monthDay[month-1];
					}
				
					/*当前显示月份添加至顶部*/
					this.topDate = year + "年" + month + "月";
					
					/*添加日期部分*/
					for(i=0; i<firstDay; i++){//对1号前空白格的填充
						this.tbod[nn] = ""
						this.tbodcss[nn] = ""
						nn += 1;
					}
					for(i=1; i<=days; i++){//每一个日期的填充
						if (eval("this."+this.diary_now).hasOwnProperty(year+"-"+month+"-"+i)){
							if(year == nowDate.getFullYear() && month == nowDate.getMonth()+1 && i == nowDate.getDate()) {
								this.tbodcss[nn] = "contentDate curDate"
							}else{
								this.tbodcss[nn] = "contentDate"
							}
						}else{
							if(year == nowDate.getFullYear() && month == nowDate.getMonth()+1 && i == nowDate.getDate()) {
								this.tbodcss[nn] = "curDate"
							}else{
								this.tbodcss[nn] = ""
							}
						}
						this.tbod[nn] = i
						nn += 1;
						if (this.ri == i){
							this.daycolor[nn-1] = "background-color: #FFEFDB"
						}
					}
					for (i=nn; i<35; i++) {
						this.tbod[nn] = ""
						this.tbodcss[nn] = ""
						nn += 1;
					}//实际上不需要填充后方，但强迫症必须整整齐齐！   
				},
				preMonth: function(){
					var topStr = this.topDate;
					var pattern = /\d+/g;
					var listTemp = topStr.match(pattern);
					var year = Number(listTemp[0]);
					var month = Number(listTemp[1]);
					var preMonth = month-1;
					if(preMonth < 1){
						preMonth = 12;
						year--;
					}
					this.showCld(year, preMonth, this.whatDay(year, preMonth));
					this.getdate(this.ri)
				},
				nextMonth: function(){
					var topStr = this.topDate;
					var pattern = /\d+/g;
					var listTemp = topStr.match(pattern);
					var year = Number(listTemp[0]);
					var month = Number(listTemp[1]);
					var nextMonth = month+1;
					if(nextMonth > 12){
						nextMonth = 1;
						year++;
					}
					this.showCld(year, nextMonth, this.whatDay(year, nextMonth));
					this.getdate(this.ri)
				},
				preDay: function(){
					var curDate = new Date();
					curDate.setYear(this.nian)
					curDate.setMonth(this.yue-1)
					curDate.setDate(this.ri-1)
					var curYear = curDate.getFullYear();
					var curMonth = curDate.getMonth() + 1;
					this.nian = curYear
					this.yue = curMonth
					this.ri = curDate.getDate()
					this.showCld(curYear,curMonth,this.whatDay(curYear,curMonth));
					this.getdate(this.ri)
				},
				nextDay: function(){
					var curDate = new Date();
					curDate.setYear(this.nian)
					curDate.setMonth(this.yue-1)
					curDate.setDate(this.ri+1)
					var curYear = curDate.getFullYear();
					var curMonth = curDate.getMonth() + 1;
					this.nian = curYear
					this.yue = curMonth
					this.ri = curDate.getDate()
					this.showCld(curYear,curMonth,this.whatDay(curYear,curMonth));
					this.getdate(this.ri)
				},
				switch_dairy: function() {
					var curDate = new Date();
					var curYear = curDate.getFullYear();
					var curMonth = curDate.getMonth() + 1;
					this.showCld(curYear,curMonth,this.whatDay(curYear,curMonth));
					this.getdate(this.ri)
				},
				getdate: function(day){
					this.wholeday = Array(1439).fill("progress-bar bg-light")
					var topStr = this.topDate;
					var pattern = /\d+/g;
					var listTemp = topStr.match(pattern);
					var year = Number(listTemp[0]);
					var month = Number(listTemp[1]);
					this.nian = year
					this.yue = month
					this.ri = day
					this.showCld(this.nian,this.yue,this.whatDay(this.nian,this.yue));
					var lin = eval("this."+this.diary_now)[year+"-"+month+"-"+day]
					if (lin != null){
						for (i=0;i<lin.length;i++){
							start_time = lin[i][0].split("-")[0]
							start_id = parseInt(start_time.split(":")[0])*60 + parseInt(start_time.split(":")[1])
							end_time = lin[i][0].split("-")[1]
							end_id = parseInt(end_time.split(":")[0])*60 + parseInt(end_time.split(":")[1])
							for (j=start_id-1;j<end_id;j++){
								this.wholeday[j] = "progress-bar bg-info"
							}
						}
					}
					this.contentshow = lin
				}
			}
		})
		var lin_array = []
		lin_array =$.extend(diary_20210328_20220327_dict, diary_20220328_20230327_dict)
		app_vue.diary_dict = lin_array
		app_vue.meandparents_dict = meandparents_dict
		app_vue.thandggh_dict = thandggh_dict
		app_vue.bw_dict = bw_dict
		app_vue.zr_dict = zr_dict
		app_vue.yihan_dict = yihan_dict
		var curDate = new Date();
		var curYear = curDate.getFullYear();
		var curMonth = curDate.getMonth() + 1;
		app_vue.nian = curYear
		app_vue.yue = curMonth
		app_vue.ri = curDate.getDate()
		app_vue.showCld(curYear,curMonth,app_vue.whatDay(curYear,curMonth));
		app_vue.getdate(app_vue.ri)
		</script>

		<script>
			var year=new Date().getFullYear();
			var month=new Date().getMonth()+1;
			var date=new Date().getDate();
			s1  =  "1991-2-1";
			s2  =  year+'-'+month+'-'+date;
			day = DateDiff(s1, s2)/36525;
			if (day<0.2){
				$("#lifebar").attr({class:"progress-bar bg-success",style:"width:"+100*day+"%;"});
			} else if (0.2<=day && day<0.4){
				$("#lifebar").attr({class:"progress-bar bg-info",style:"width:"+100*day+"%;"});
			} else if (0.4<=day && day<0.60){
				$("#lifebar").attr({class:"progress-bar",style:"width:"+100*day+"%;"});
			} else {
				$("#lifebar").attr({class:"progress-bar bg-warning",style:"width:"+100*day+"%;"});
			};
			function DateDiff(sDate1, sDate2){  
				var aDate, oDate1, oDate2, iDays;
				aDate = sDate1.split("-");
				oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
				aDate = sDate2.split("-");
				oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
				iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 /24);
				return iDays;
			};
		</script>

    </body>
	
</html>
