<!DOCTYPE html>
<html>

	<head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="../static/bootstrap5/css/bootstrap.min.css">
                <script src="../static/jquery-3.2.1.min.js"></script>
                <!--<script src="../static/bootstrap5/popper.js"></script>-->
                <script src="../static/bootstrap5/js/bootstrap.min.js"></script>
                <script src="../static/vue.min.js"></script>
                <script src="../static/echarts.min.js"></script>
	</head>
	
	<body>

		<div class="container" id="appvue" style="background-color:#F5F5F5;">

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
				<a class="navbar-brand" href="#"> THIPPO</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" href="../weight/index.html">体重记录 </a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">财务</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" href="../wealth/anabalancesheet.html">投资分析</a></li>
								<li><a class="dropdown-item" href="../wealth/balancesheet.html">资产负债表</a></li>
							</ul>
						</li>
						<!--<li class="nav-item"><a class="nav-link" href="transaction/index.html">投资记录 </a></li>-->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">投资</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" href="tradetiming.html">择时分析</a></li>
								<li><a class="dropdown-item" href="convertiblebond.html">可转债YTM</a></li>
								<li><a class="dropdown-item" href="dailyk.html">日K线</a></li>
								<li><a class="dropdown-item" href="newshare.html">七天实践</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">工具箱</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" href="../tools/kellycriterion.html">凯利公式</a></li>
								<li><a class="dropdown-item" href="../tools/bitcoinaddress.html">比特币地址</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>

			
			<div class="progress" style="margin-top:10px;">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;" id="lifebar"></div>
			</div>
					

			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">网上中签率(%)</th>
							<th scope="col">个申上限(万股)</th>
							<th scope="col">网发比</th>
							<th scope="col">募集资金(亿)</th>
							<th scope="col">市盈率</th>
							<th scope="col">首日换手率</th>
							<th scope="col">开盘日300涨跌幅(%)</th>
							<th scope="col">发行价市盈率</th>
							<th scope="col">净资产收益率</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input style="width:75px;height:25px;" @input="makelines(9,'网上中签率(%)','main9')" v-model="nine"></th>
							<td><input style="width:75px;height:25px;" @input="makelines(7,'个申上限(万股)','main7')" v-model="seven"></th>
							<td><input style="width:75px;height:25px;" @input="makelines(4,'网发比','main4')" v-model="four"></th>
							<td><input style="width:75px;height:25px;" @input="makelines(8,'募集资金(亿)','main8')" v-model="eight"></th>
							<td><input style="width:75px;height:25px;" @input="makelines(6,'市盈率','main6')" v-model="six"></th>
							<td><input style="width:75px;height:25px;" @input="makelines(11,'首日换手率','main11')" v-model="eleven"></th>
							<td><input style="width:75px;height:25px;" @input="makelines(12,'开盘日300涨跌幅(%)','main12')" v-model="twelve"></th>
							<td><input style="width:75px;height:25px;" @input="makelines(13,'发行价市盈率','main13')" v-model="thirteen"></th>
							<td><input style="width:75px;height:25px;" @input="makelines(14,'净资产收益率','main14')" v-model="fourteen"></th>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<div class="col">
					<div id="main9" style="width:100%;height:300px;"></div>
				</div>
				<div class="col">
					<div id="main7" style="width:100%;height:300px;"></div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div id="main4" style="width:100%;height:300px;"></div>
				</div>
				<div class="col">
					<div id="main8" style="width:100%;height:300px;"></div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div id="main6" style="width:100%;height:300px;"></div>
				</div>
				<div class="col">
					<div id="main11" style="width:100%;height:300px;"></div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div id="main12" style="width:100%;height:300px;"></div>
				</div>
				<div class="col">
					<div id="main13" style="width:100%;height:300px;"></div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div id="main14" style="width:100%;height:300px;"></div>
				</div>
				<div class="col">
					<div id="main" style="width:100%;height:300px;"></div>
				</div>
			</div>

			</br>
			</br>

		</div>
		
	
		<script>
		var app_vue = new Vue({
				el: '#appvue',
				data: {
					rawdata: [
						["正和生态","605069","环保工程及服务","2021/8/15","0.900024564","15.13","22.24","1.6","15.396","0.03","18.16","0.91","-0.1","16.68136714","9.13","9.9309","0.907","1"],
						["艾为电子","688798","集成电路","2021/8/16","0.320095694","76.58","141.71","1","0","0.02","252","71.07","-0.1","93.52711285","26.72","3.064","0.8188","1"],
						["义翘神州","301047","医疗服务","2021/8/16","1","292.92","17.76","1.7","49.796","0.01","599.9","50.15","-0.1","13.24830393","86.83","25.4636","22.11","1"],
						["天禄科技","301045","显示器件","2021/8/13","0.485071733","15.81","15.64","0.7","6.329","0.01","48.95","66.66","-0.55","11.05207969","29.6","4.8326","1.4305","0"],
						["海天瑞声","688787","IT服务","2021/8/13","0.340186916","36.94","21.65","0.25","8.409","0.02","171.66","85.62","-0.55","14.44661713","18.74","13.6435","2.557","0"],
						["山水比德","300844","园林工程","2021/8/13","1","80.23","32.63","1","8.103","0.01","110.1","55.33","-0.55","23.81701597","44.86","7.5087","3.3686","0"],
						["中富电路","300814","印制电路板","2021/8/12","0.484986351","8.4","15.87","1.25","0","0.02","29","67.93","-0.84","10.75681905","16.29","4.7941","0.7809","0"],
						["久祺股份","300994","其他交运设备","2021/8/12","0.484967051","11.9","16.44","1.35","0","0.02","25","69.56","-0.84","11.05947955","35.84","3.0024","1.076","2"],
						["冠石科技","605588","显示器件","2021/8/12","1","27.42","22.99","1.8","5.011","0.01","32.9","0.62","-0.84","16.56497312","24.15","6.8536","1.6553","2"],
						["绿岛风","301043","其它通用机械","2021/8/11","1","26.75","29","1.7","4.548","0.01","47.97","48.86","-0.55","19.35600579","25.56","5.406","1.382","0"],
						["长远锂科","688779","其他化学制品","2021/8/11","0.219593614","5.65","136.31","6.9","0","0.05","21","78.32","-0.55","74.4400527","3.46","2.1946","0.0759","2"],
						["金百泽","301041","印制电路板","2021/8/11","0.485007496","7.31","15.32","0.75","5.726","0.01","32","71.9","-0.55","10.37026529","13.96","5.05","0.7049","0"],
						["圣泉集团","605589","其他化学制品","2021/8/10","0.899950654","24.01","22.99","2.4","19.463","0.04","28.81","1.34","1.16","18.98774219","15.66","8.077","1.2645","1"],
						["芳源股份","688148","其他化学制品","2021/8/6","0.285","4.58","42.23","1.5","11.793","0.03","35","80.17","-0.55","33.09248555","6.40","2.1625","0.1384","0"],
						["安联锐视","301042","计算机设备","2021/8/5","1","41.91","39","1.7","7.209","0.01","78.5","46.69","-0.61","26.96911197","18.13","8.5701","1.554","0"],
						["本川智能","300964","印制电路板","2021/8/5","1","32.12","36.88","1.9","6.207","0.01","69","50.05","-0.61","22.54509721","21.87","6.5136","1.4247","0"],
						["双枪科技","001211","其他轻工制造","2021/8/5","1","26.4","22.99","1.8","4.752","0.01","31.68","1.24","-0.61","15.88256527","18.82","8.8344","1.6622","1"],
						["厦钨新能","688778","其他化学制品","2021/8/5","0.341071713","24.5","25.27","1.6","0","0.03","125.12","74.98","-0.61","18.4501845","14.33","9.265","1.3279","0"],
						["深水规院","301038","其他专业工程","2021/8/4","0.435151515","6.68","9.7","0.8","5.039","0.02","27","69.68","0.9","7.075521661","14.13","6.6806","0.9441","0"],
						["复旦微电","688385","集成电路","2021/8/4","0.21","6.23","127.14","1.65","6.618","0.03","53.51","76.14","0.9","3.256494694","6.88","27.7933","1.9131","1"],
						["倍杰特","300774","环保工程及服务","2021/8/4","0.389921722","4.57","13.65","0.75","6.398","0.02","20.1","70.25","0.9","11.25338587","13.39","3.0338","0.4061","1"],
						["中环海陆","301040","金属制品","2021/8/3","0.4852","13.57","10.53","0.7","5.33","0.01","41.59","68.22","0.01","7.600537695","21.80","8.1883","1.7854","0"],
						["金迪克","688670","生物制品","2021/8/2","0.344090909","55.18","30","0.55","16.965","0.03","88","68.14","2.55","23.49885018","63.91","3.6743","2.3482","1"],
						["国邦医药","605507","化学原料药","2021/8/2","0.900023861","32.57","22.99","2.5","27.301","0.04","39.08","2.25","2.55","19.09927872","24.73","6.8942","1.7053","0"],
						["天微电子","688511","地面兵装","2021/7/30","0.34","28.09","20.59","0.5","5.741","0.02","88","82.39","-0.81","14.95182839","51.34","3.6593","1.8787","0"],
						["正元地信","688509","IT服务","2021/7/30","0.285","1.97","27.86","3.2","0","0.04","12.61","70","-0.81","18.41121495","5.44","1.967","0.107","0"],
						["保立佳","301037","其他化学原料","2021/7/30","0.484687084","14.82","15.33","0.6","5.105","0.01","37.88","62.62","-0.81","11.15208067","18.26","7.2786","1.3289","0"],
					],
					four: '',
					five: '',
					six: '',
					seven: '',
					eight: '',
					nine: '',
					eleven: '',
					twelve: '',
					thirteen: '',
					fourteen: '',
				},
				mounted: function() {
					this.showstatic(9,'网上中签率(%)','main9')
					this.showstatic(7,'个申上限(万股)','main7')
					this.showstatic(4,'网发比','main4')
					this.showstatic(8,'募集资金(亿)','main8')
					this.showstatic(6,'市盈率','main6')
					this.showstatic(11,'首日换手率','main11')
					this.showstatic(12,'开盘日300涨跌幅(%)','main12')
					this.showstatic(13,'发行价市盈率','main13')
					this.showstatic(14,'净资产收益率(%)','main14')
				},
				methods: {
					staticdata: function(num){
						var compute_return = []
						var green_list = []
						var yellow_list = []
						var red_list = []
						for (var i = 0; i < this.rawdata.length; i++) {
							if (this.rawdata[i][17] == "0"){
								green_list.push(this.rawdata[i][num])
							} else if (this.rawdata[i][17] == "1"){
								yellow_list.push(this.rawdata[i][num])
							} else if (this.rawdata[i][17] == "2"){
								red_list.push(this.rawdata[i][num])
							}
						}
						var green_count = green_list.reduce(function (obj, name){obj[name] = obj[name] ? ++obj[name] : 1;return obj;}, {});
						var yellow_count = yellow_list.reduce(function (obj, name){obj[name] = obj[name] ? ++obj[name] : 1;return obj;}, {});
						var red_count = red_list.reduce(function (obj, name){obj[name] = obj[name] ? ++obj[name] : 1;return obj;}, {});
						for (key in green_count){compute_return.push({symbolSize: green_count[key]*10, data:[[key, 0]], type:'scatter',color:"green"})}
						for (key in yellow_count){compute_return.push({symbolSize: yellow_count[key]*10, data:[[key, 1]], type:'scatter',color:	"#FFD700"})}
						for (key in red_count){compute_return.push({symbolSize: red_count[key]*10, data:[[key, 2]], type:'scatter',color:"red"})}
						return compute_return
					},
					showstatic: function(num, textt, whatmain){
						datanow = this.staticdata(num)
						option = {
							title: {
								left: 'center',
								text: textt,
							},
							xAxis: {},
							yAxis: {},
							series: datanow
						};
						var myChart = echarts.init(document.getElementById(whatmain));
						myChart.setOption(option,true);
					},
					makelines: function(num, textt, whatmain){
						if (num == 4){
							eng=this.four
						} else if (num == 5){
							eng=this.five
						} else if (num == 6){
							eng=this.six
						} else if (num == 7){
							eng=this.seven
						} else if (num == 8){
							eng=this.eight					
						} else if (num == 9){
							eng=this.nine
						} else if (num == 11){
							eng=this.eleven
						} else if (num == 12){
							eng=this.twelve
						} else if (num == 13){
							eng=this.thirteen
						} else if (num == 14){
							eng=this.fourteen
						}
						datanow = this.staticdata(num)
						datanow.push({symbolSize:10, color: "#0066FF", data:[[eng, 1]],type:'scatter',markLine:{symbol:"none",data:[{silent:false,lineStyle:{type:"solid",color:"blue",},xAxis:eng}]}})
						option = {
							title: {
								left: 'center',
								text: textt,
							},
							xAxis: {},
							yAxis: {},
							series: datanow
						};
						var myChart = echarts.init(document.getElementById(whatmain));
						myChart.setOption(option,true);
					}
				},
			})

	</script>

		<script>
			var year=new Date().getFullYear();
			var month=new Date().getMonth()+1;
			var date=new Date().getDate();
			s1  =  "1991-2-1";
			s2  =  year+'-'+month+'-'+date;
			day = DateDiff(s1, s2)/36525;
			if (day<0.2){
				$("#lifebar").attr({class:"progress-bar bg-success",style:"width:"+100*day+"%;"});
			} else if (0.2<=day && day<0.4){
				$("#lifebar").attr({class:"progress-bar bg-info",style:"width:"+100*day+"%;"});
			} else if (0.4<=day && day<0.60){
				$("#lifebar").attr({class:"progress-bar",style:"width:"+100*day+"%;"});
			} else {
				$("#lifebar").attr({class:"progress-bar bg-warning",style:"width:"+100*day+"%;"});
			};
			function DateDiff(sDate1, sDate2){  
				var aDate, oDate1, oDate2, iDays;
				aDate = sDate1.split("-");
				oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
				aDate = sDate2.split("-");
				oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
				iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 /24);
				return iDays;
			};
		</script>

	</body>
	
</html>
